
.matrizes__pagina {
    border-top: 1px solid #ddd;
    clear: both;
    counter-increment: page;
    padding-bottom: 3em;
    position: relative;
}        
.matrizes__pagina:before {
    background-color: #ddd;
    display: inline-block;
    content: counter(page);
    color: #888;
    padding: .25em .5em;
    position: absolute;
    left: calc(50% - .75em);
    top: -.75em;
    vertical-align: middle;
    z-index: 1;
}
