
.rodape {
    background-color: var(--tom-cor-cinco);;
    font-family: var(--font-oficial); 
    color: var(--cor-font-oficial);   
}

.rodape__ofertas {
    background-color : var(--tom-cor-quatro);; 
    margin-bottom: 0.7rem;
    padding: 1rem 0.5rem;  
}

.rodape__ofertas__titulo {
    font-size: 0.9rem;
    margin-bottom: .5rem;
    text-align: center;
}

.rodape__ofertas__inscricao {
    display: flex;
    margin:  auto ;
    justify-content:center;    
}

.rodape__ofertas__input {
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.rodape__ofertas__botao {
    border: none;
    border-radius: 0px 5px 5px 0px;
    padding: 10px 20px;
}
.rodape__ofertas__botao:hover {
    background-color: var(--tom-cor-tres);
}

.rodape__conta {
    padding: 0.2rem;
}
.rodape__conta__titulo {
    font-size: 0.9rem;
    text-align: center;
}

.rodape__conta__lista{
    display: flex;
    font-size: 0.8rem;
    justify-content: space-around;
    padding: 1rem 0rem;
}

.rodape___conta__lista__link {
    color: var(--cor-font-oficial);
}

.rodape__contato {
    padding-bottom: 0.5rem;
}

.rodape__contato__titulo {    
    font-size: 0.9rem;  
    text-align: center;  

}

.rodape__contato__lista {
    align-items: center;
    display: flex;
    flex-flow: column;
    line-height: 1.5rem ;
}

.rodape___contato__lista__link{
    align-items: center;
    color: var(--cor-font-oficial);
    display: flex;
    font-size: 0.8rem;
}

.rodape__contato__logo{
    height: 0.8rem;
    padding-right: 2px;
}

.rodape__social {
    display: flex;
    justify-content: space-around;
}

.rodape__social__logo{
    height: 2rem;
}

.escondido {
    display: none;
}

@media screen and (min-width: 768px) {

    .rodape__ofertas {       
        align-items: center;    
        display: flex;
        
    }

    .rodape__ofertas__titulo {
        margin-bottom: 0;        
        width: 25%;
    }
    .rodape__ofertas__inscricao{
        width: 70%;
    }

    .rodape__ofertas__input {
        width: 100%;
    }

    .rodape__utilitarios{
        display: flex;
        justify-content: space-around;
    }

    .rodape__conta{
        padding: 0rem;
    }

    .rodape__conta__lista{        
        align-items: center;
        flex-flow: column;
        line-height: 1.5rem ;
        padding: 0rem;
    }
    
    .rodape__social {
        flex-wrap: wrap;
    }

    .rodape__social__lista{
        padding: 0.1rem 0rem;
        text-align: center;
        width: 40%;
    }

    .escondido {
        display: block;
    }
 }

 